article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section {
  display: block;
}
a,
hr {
  padding: 0;
}
li,
nav ul,
ul {
  list-style: none;
}
#btn--menu,
#main-title,
#scroll--info,
.nav__center li a {
  text-transform: uppercase;
}
.nav__center li a:after,
.nav__right:after,
.valign-p:before {
  content: "";
}
#footer .logo--mindi,
#intro h2,
#nav--bar a,
.nav__left li a {
  text-indent: -9999px;
}
#intro,
#scroll--info,
.content--link p,
.section--left h3,
.section--right {
  text-align: center;
}
#header .nav a,
#scroll--info,
ins {
  text-decoration: none;
}
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
ins,
mark {
  background-color: #ff9;
  color: #000;
}
body {
  line-height: 1;
  overflow-y: scroll;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
mark {
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
input,
select {
  vertical-align: middle;
}

body,
html {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::selection {
  color: #fff;
  background: #2d7dc2;
}
::-moz-selection {
  color: #fff;
  background: #2d7dc2;
}
a,
button,
input,
select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-decoration: none;
  color: inherit;
  outline: 0;
}
button {
  cursor: pointer;
}
#content {
  padding: 75px 0 22px;
  min-height: 100vh;
}
/* @media only screen and (max-width: 1024px) {
  #content {
    padding: 54px 0 15px;
  }
} */
#wrapper {
  width: calc(100% - 44px);
  margin: 0 auto;
  background: #fff;
}
[data-page-id="home"] #wrapper {
  background: #000;
}
/* @media only screen and (max-width: 1024px) {
  #wrapper {
    width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 370px) {
  #content {
    padding-bottom: 0;
  }
  #wrapper {
    width: 100%;
  }
} */
.iframeCtn {
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5rem;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.overlay-open .iframeCtn {
  opacity: 1;
  pointer-events: all;
}
.iframeWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  overflow-y: auto;
  width: 700px;
  max-width: 80%;
  max-height: calc(100% - 10rem);
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, -50%, 0);
  transition: visibility 0s 0.5s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#header,
#main-title {
  position: fixed;
  z-index: 1000;
}
.iframeWrapper iframe {
  display: block;
  min-height: 100% !important;
}
.iframeWrapper--large {
  width: 80%;
}
.iframeWrapper.is-open {
  visibility: visible;
  transform: translate3d(-50%, -50%, 0);
  transition-delay: 0s, 0s;
}

#header {
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  background: #fff;
}

#header .nav {
  height: 100%;
  line-height: 75px;
}

#header .nav a {
  display: inline-block;
}
#main-title {
  bottom: 0;
  left: 3.8%;
  top: calc(50% + 14px);
  height: 1.2rem;
  font-family: Proxima-Smbd, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #fff;
  opacity: 0.5;
  transform: translate(-50%, 50%) rotateZ(-90deg);
  transition: opacity 1s, visibility 1s;
}
#main-title span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}

#btn--menu {
  display: none;
  float: left;
  position: relative;
  padding: 0 17px 0 51px;
  font-family: Proxima-Smbd, sans-serif;
  font-size: 1.1rem;
  line-height: 54px;
  letter-spacing: 0.3em;
  background: 0 0;
  border: none;
}
#btn--menu .hamburger {
  display: block;
  position: absolute;
  top: 0;
  left: 17px;
  width: 20px;
  height: 2px;
  background: #000;
  transform-origin: 50%;
  transition: all 0.3s ease-in-out;
}
#btn--menu .hamburger:nth-child(1) {
  top: 20px;
}
#btn--menu .hamburger:nth-child(2) {
  top: 25px;
}
#btn--menu .hamburger:nth-child(3) {
  top: 30px;
}
#btn--menu .btn--menu__text {
  display: block;
}
#btn--menu .btn--menu__text:last-child,
.menu--open #btn--menu .btn--menu__text {
  display: none;
}
.menu--open #btn--menu .hamburger:nth-child(1) {
  transform: translateY(5px) rotateZ(45deg);
}
.menu--open #btn--menu .hamburger:nth-child(2) {
  transform: rotateY(90deg);
}
.menu--open #btn--menu .hamburger:nth-child(3) {
  transform: translateY(-5px) rotateZ(-45deg);
}
.menu--open #btn--menu .btn--menu__text:last-child {
  display: block;
}

.nav__left,
.nav__right {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.nav__left {
  float: left;
  margin-left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__left li {
  display: block;
  float: left;
}
.nav__left li:last-child {
  margin-left: 10px;
}
.nav__left li a {
  margin-right: 5px;
  border: solid 1px #e6e6e6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-indent: 0 !important;
}

.nav__right {
  float: right;
  overflow: hidden;
  position: relative;
  margin-right: 22px;
  padding: 0 2em;
  transition: color 0.2s 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav__right:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav__right span {
  border-bottom: 2px solid #e5e5e5;
  transition: 0.6s;
}

.nav__center {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}
.nav__center li {
  float: left;
  display: block;
}
.nav__center li a {
  position: relative;
  margin: 0 17px;
  font-family: Proxima-Smbd, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3em;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .nav__center li a {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 851px) {
  .nav__center li a:hover:after {
    transform: translateX(-50%) scaleX(1);
  }
}
.nav__center li a:after {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  transform: translateX(-50%) scaleX(0);
  width: calc(100% - 2px);
  height: 10px;
  border-bottom: 2px solid #000;
  transition: all 0.2s ease-in-out;
}

.nav__center li .current {
  color: #a72b2a;
}
.nav__center li .current:after {
  border-color: #a72b2a;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  height: 22px;
  background: #fff;
}
/* @media only screen and (max-width: 1024px) {
  #footer {
    height: 15px;
  }
}
@media only screen and (max-width: 370px) {
  #content--menu {
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 54px);
  }
  #footer {
    display: none;
  }
} */
#footer .logo--mindi {
  position: absolute;
  top: -30px;
  right: 22px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-image: url(../img/icons/icon-mindi.png);
}

.hidden {
  display: none;
}
.valign-c,
.valign-p:before {
  display: inline-block;
  vertical-align: middle;
}
.valign-p:before {
  height: 100%;
  margin-left: -4px;
}
#page-container {
  overflow: hidden;
  min-height: calc(100% - 97px);
  /*background:#f7f7f6*/
  background: #ebeff3;
}

#page-container .container--background {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 33%;
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
  opacity: 0.1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min--moz-device-pixel-ratio: 1.3),
  only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333),
  only screen and (min-resolution: 125dpi),
  only screen and (min-resolution: 1.3dppx) {
  #page-container .container--background {
    background-image: url(../img/illustrations/standing-stones_2x.png);
    background-size: none;
  }
}
section {
  overflow: hidden;
  position: relative;
  z-index: 50;
  min-height: calc(100vh - 97px);
  color: #fff;
}

section article {
  z-index: 400;
}
section article h2 {
  margin-bottom: 2.5rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 1.68;
  font-weight: 100;
}

section article p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.9375;
  opacity: 0.6;
}
#intro h3,
.section--left h2,
.section--left h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}

.separator {
  position: fixed;
  top: calc(50vh + 26px);
  z-index: 800;
  width: 105px;
  height: 2px;
}

.separator--left {
  position: absolute;
  top: calc(50% - 0.5px);
  left: calc(58.4vw - 89px);
  background: #fff;
  transform-origin: center right;
}

.separator--right {
  left: calc(58.4vw - 70px);
  background: #000;
  transform-origin: center left;
}

.section--left {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  width: calc(58.4vw - 22px);
  height: calc(100vh - 97px);
  backface-visibility: hidden;
}

.section--left .background--gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.section--left .valign-c {
  width: 100%;
  text-align: center;
}
.section--left h2 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 10rem;
  line-height: 1;
}

.section--left h3 {
  width: 100%;
  margin: auto;
  font-size: 2.5rem;
  line-height: 4.2rem;
  opacity: 0.7;
}

.section--right {
  float: right;
  position: relative;
  width: calc(41.6vw - 22px);
  min-height: calc(100vh - 97px);
  padding: 90px 0 52px;
}

#c,
#nav--bar {
  position: fixed;
}
#nav--bar a:after,
#nav--bar a:before {
  content: "";
  top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

#c {
  top: 75px;
  left: 22px;
  z-index: 100;
  width: calc(100% - 44px);
  height: calc(100vh - 97px);
  pointer-events: none;
}

.loading-page #c {
  background: #1a1a1a;
}
#nav--bar {
  top: 50%;
  right: 40px;
  z-index: 99;
  margin-top: 25px;
  transform: translateY(-50%);
}
#nav--bar a {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px 0;
  transform: translate(0, 0);
}
#nav--bar a:before {
  left: -5px;
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 50%;
  background-color: #9b9b9a;
  opacity: 1;
  transform: scale3d(0, 0, 1);
}
#nav--bar a:after {
  left: 0;
  height: 0;
  width: 0;
  margin: auto;
  background: #9b9b9a;
  border: 3px solid #9b9b9a;
  border-radius: 50%;
  transition: all 0.1s ease-out;
}
#nav--bar li.current a:before {
  opacity: 0;
  transform: scale3d(1, 1, 1);
  transition: all 0.5s ease-out;
}
#nav--bar li.current a:after {
  height: 9px;
  width: 9px;
  background: 0 0;
  border-width: 2px;
}
#intro h3:before,
#menu:after {
  top: 0;
  width: 1px;
  content: "";
}
.contact-article h4,
.menu-article ul li:first-child .menu--down {
  border-top: 1px solid #dededd;
}
.contact-article h4,
.menu-article .menu--down,
.press-list li:not(:last-child) .press-article {
  border-bottom: 1px solid #dededd;
}
#intro {
  display: table;
  width: 100%;
  color: #000;
}
#intro:after {
  display: none;
}
#intro video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
}

#intro article {
  display: table-cell;
  width: 100%;
}
#intro h2 {
  height: 253px;
  /*width:253px;*/
  width: 337px;
  margin: 0 auto;
  background-image: url(../img/logo/logo-nagaeight.png);
  background-position: center bottom;
  background-size: cover;
}

#intro h3 {
  font-size: 2rem;
}

#intro h3:before {
  display: block;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  height: 40px;
  margin: 20px auto;
  background-color: #000;
}

/* #about p, */
.content--link p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}
#about .section--gradient {
  background-image: linear-gradient(to left, #000 0, #000 50%, rgba(0, 0, 0, 0) 75%, transparent 100%);
}
.safari #about .section--gradient {
  background-image: url(../img/home/gradient-about.png);
  background-repeat: repeat-y;
  background-position: right center;
  background-size: 775px;
}

#concept .section--gradient {
  background-image: linear-gradient(to right, #000 0, #000 50%, rgba(0, 0, 0, 0) 75%, transparent 100%);
}
.safari #concept .section--gradient {
  background-image: url(../img/home/gradient-seafood.png);
  background-repeat: repeat-y;
  background-position: left center;
  background-size: 775px;
}

#wine .section--gradient {
  background-image: linear-gradient(to left, #a72b2a 0, #a72b2a 50%, rgba(172, 42, 42, 0) 75%, transparent 100%);
}
.safari #wine .section--gradient {
  background-image: url(../img/home/gradient-wine.png);
  background-repeat: repeat-y;
  background-position: right center;
  background-size: 775px;
}
.safari #david-helen .section--gradient,
.safari #our-menus .section--gradient {
  background-repeat: repeat-y;
  background-position: left center;
  background-size: 775px;
}

#our-menus .section--gradient {
  background-image: linear-gradient(to right, #000 0, #000 50%, rgba(0, 0, 0, 0) 75%, transparent 100%);
}
.safari #our-menus .section--gradient {
  background-image: url(../img/home/gradient-degustation.png);
}

#david-helen .section--gradient {
  background-image: linear-gradient(to left, #a72b2a 0, #a72b2a 50%, rgba(172, 42, 42, 0) 75%, transparent 100%);
}
.safari #david-helen .section--gradient {
  background-image: url(../img/home/gradient-david.png);
}

#menu ul,
#menu:after,
.section--background,
.section--background > img,
.section--gradient {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section--background-full,
.section--background-full > img,
.section--gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#menu .section--background {
  background-image: url(../img/home/discover_section.jpg);
}

#menu ul {
  top: 0;
  right: 0;
}
#menu:after {
  display: block;
  right: 0;
  z-index: 600;
  height: 238.5px;
  margin: auto;
  background-color: #fff;
}

.h-section-intro {
  height: calc(100vh - 97px);
}
.h-section {
  height: calc(100vh - 65px);
}

.section--background {
  top: -50px;
  right: 0;
  z-index: -1;
}
.section--background > img {
  transform-origin: center bottom;
  transform: translate3d(0, 0, 0) scale(1);
}
.section--gradient {
  top: 0;
  right: 0;
  max-width: 775px;
  z-index: 200;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transform-origin: 80% 50%;
  backface-visibility: hidden;
}
.section--gradient_right {
  right: -22px;
  top: 22px;
  left: auto;
  transform-origin: 20% 50%;
}
@media only screen and (max-width: 920px) {
  .section--gradient {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 50%;
    max-width: 100%;
    width: 100%;
    background-repeat: auto !important;
    background-size: auto auto !important;
  }
}
.content--right {
  position: relative;
  left: calc(50% + 122px);
}
.content--right:before {
  transform: translateX(-122px);
}
.content--left {
  position: relative;
  left: 11%;
}
.content--left:before {
  right: -30%;
}
.content--left,
.content--right {
  width: 30%;
}
.content--left:before,
.content--right:before {
  /* content:''; */
  position: absolute;
  z-index: 300;
  width: 1px;
  height: 100%;
  background: #fff;
}
@media only screen and (max-width: 920px) {
  .content--right:before {
    transform: none;
  }
  .content--left,
  .content--right {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 10%;
    left: 0;
    width: 60%;
    margin: auto;
    text-align: center;
    transform: none;
  }
  .content--left:before,
  .content--right:before {
    position: relative;
    bottom: 10px;
    left: 50%;
    width: 1px;
    height: 62px;
  }
}
@media only screen and (max-width: 420px) {
  .content--left,
  .content--right {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}
.content--center {
  position: relative;
  top: -15px;
  width: 100%;
}
.content--link {
  display: block;
  float: left;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 600;
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 920px) {
  .content--link {
    height: 50%;
    width: 100%;
  }
}
.content--link:hover .link--background {
  opacity: 1;
}
.content--link:hover p {
  transform: translateX(-25px);
}
.content--link:hover p:after {
  transform: translateX(50px);
  opacity: 1;
}
.content--link .link--background,
.content--link p:after {
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
}
.content--link .link--background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200%;
  z-index: -1;
  background-image: url(../img/home/discover_section2.jpg);
  background-size: cover;
  transform-origin: 50%;
  transform: scale(1);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min--moz-device-pixel-ratio: 1.3),
  only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333),
  only screen and (min-resolution: 125dpi),
  only screen and (min-resolution: 1.3dppx) {
  .content--link .link--background {
    background-image: url(../img/home/discover_section2.jpg);
    background-size: cover;
  }
}
.content--link p {
  font-size: 2.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#scroll--info,
.menu-article .menu--down {
  font-family: Proxima-Smbd, sans-serif;
}
@media only screen and (max-width: 920px) {
  .content--link p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1681px) {
  .content--link p {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .content--link p {
    font-size: 3.5rem;
  }
}
.content--link p:after {
  content: "â†’";
  display: inline-block;
  margin: 0 auto;
  width: 13px;
  text-indent: -9999px;
  background-image: url(../img/icons/icon-arrow.png);
  background-size: 13px 8px;
}
@media only screen and (max-height: 500px) {
  .content--link p:after {
    margin: 15px auto 0;
  }
}
.content--transition {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
#scroll--info {
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 600;
  font-size: 1rem;
  letter-spacing: 0.2em;
  /*color:#787777;*/
  color: #fff;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}
.menu-article .menu--book,
.menu-article .menu--down,
.press-article time,
.press-article__link {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 920px) {
  #scroll--info {
    position: absolute;
    right: 0;
    bottom: 37.5px;
    left: 50%;
    height: 5px;
    width: 7.5px;
    background-image: url(../img/icons/scroll-arrow-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #scroll--info p,
  #scroll--info img {
    display: none;
  }
}
#scroll--info.hide {
  transform: translate(-50%, 100px);
}
#scroll--info .icon--mouse {
  margin-bottom: 16px;
}
.menu-article {
  width: 57%;
  text-align: left;
}
.menu-article .menu--down {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  line-height: 4.7rem;
  color: #000;
}
@media only screen and (min-width: 1681px) {
  .menu-article .menu--down {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .menu-article .menu--down {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .menu-article {
    width: 100%;
    padding: 0 30px;
    text-align: center;
  }
  .menu-article .menu--down {
    font-size: 1.1rem;
  }
}
.menu-article .menu--down:after {
  content: "";
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  width: 7px;
  height: 9px;
  margin: auto;
  background-image: url(../img/icons/icon-down.png);
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  .menu-article .menu--down:after {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-left: 10px;
  }
}
.contact-article .contact--book:before,
.menu-article .menu--book:before {
  content: "";
  top: calc(50% - 5px);
  margin-right: 10px;
}
.menu-article .menu--down span {
  display: inline-block;
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu-article p {
  margin-top: 45px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.9375;
  color: #676767;
  opacity: 1;
}
.menu-article .menu--book,
.menu-article p strong,
.press-article time {
  font-family: "Noto Sans", sans-serif;
}
@media only screen and (min-width: 1681px) {
  .menu-article p {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 1921px) {
  .menu-article p {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .menu-article p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}
.menu-article p strong {
  font-weight: 500;
  color: #000;
}
.menu-article p span {
  display: inline-block;
}
.menu-article .menu--book {
  display: inline-block;
  position: relative;
  width: 205px;
  margin-top: 45px;
  padding: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background: #000;
}
@media only screen and (min-width: 1681px) {
  .menu-article .menu--book {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .menu-article .menu--book {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 801px) {
  .menu-article .menu--down:hover span {
    transform: translate3d(10px, 0, 0);
  }
  .menu-article .menu--book:hover span {
    transform: translateX(13px);
  }
  .menu-article .menu--book:hover:before {
    opacity: 1;
  }
  .press-article__link:after {
    content: "";
  }
}
.menu-article .menu--book:before {
  position: absolute;
  left: 35px;
  width: 13px;
  height: 8px;
  background-image: url(../img/icons/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.menu-article .menu--book span {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.press-article {
  display: inline-block;
  width: 55%;
  padding: 52px 0 43px;
  text-align: left;
}
.press-article time {
  font-size: 1.2rem;
  line-height: 4.7rem;
  color: #676767;
}
@media only screen and (min-width: 1681px) {
  .press-article time {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1921px) {
  .press-article time {
    font-size: 1.6rem;
  }
}
.press-article h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3.4rem;
  color: #000;
}
@media only screen and (min-width: 1681px) {
  .press-article h4 {
    font-size: 3rem;
    line-height: 1.8;
  }
}
@media only screen and (min-width: 1921px) {
  .press-article h4 {
    font-size: 3.5rem;
  }
}
.press-article p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9375;
  font-weight: 100;
  color: #676767;
  opacity: 1;
}
.press-article p a,
.press-article p b,
.press-article p em,
.press-article p i,
.press-article p strong {
  color: #000;
}
.press-article p b,
.press-article p strong {
  font-weight: 100;
}
.press-article p em,
.press-article p i {
  font-style: normal;
}
@media only screen and (min-width: 1681px) {
  .press-article p {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 1921px) {
  .press-article p {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .press-article {
    width: calc(100% - 60px);
    text-align: center;
  }
  .press-article p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}
.contact-article h4,
.press-article__link {
  font-family: Proxima-Smbd, sans-serif;
  line-height: 4.7rem;
}
.press-article__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  padding-right: 10px;
  font-size: 1.2rem;
  color: #000;
}
@media only screen and (min-width: 1681px) {
  .press-article__link {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .press-article__link {
    font-size: 1.4rem;
  }
}
.press-article__link:after {
  position: absolute;
  right: 0;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.contact-article .contact--book,
.contact-article h4 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.press-article__link span {
  display: inline-block;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.press-article__link:not(:hover):after {
  transform: translate3d(-100%, 0, 0);
}

body[data-page-id="contact"] .section--left h3 a {
  color: inherit;
}
.address-line {
  display: inline;
}
@media only screen and (max-width: 460px) {
  .address-line br {
    display: none;
  }
}
.email {
  display: block;
}
.contact-article {
  width: 57%;
  text-align: left;
}
.contact-article h4 {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #000;
}
@media only screen and (min-width: 1681px) {
  .contact-article h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .contact-article h4 {
    font-size: 1.4rem;
  }
}
.contact-article p {
  margin-bottom: 35px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.9375;
  color: #676767;
}
@media only screen and (min-width: 1681px) {
  .contact-article p {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 1921px) {
  .contact-article p {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .contact-article {
    width: 100%;
    padding: 0 30px;
    text-align: center;
  }
  .contact-article p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}
.contact-article p span {
  display: inline-block;
}
.contact-article .contact--book {
  display: inline-block;
  width: 205px;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
  font-family: Proxima-Smbd, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background: #000;
}
@media only screen and (min-width: 1681px) {
  .contact-article .contact--book {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1921px) {
  .contact-article .contact--book {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 801px) {
  .press-article__link:hover span {
    transform: translate3d(5px, 0, 0);
  }
  .contact-article .contact--book:hover:before {
    opacity: 1;
  }
  .contact-article .contact--book:hover span {
    transform: translateX(13px);
  }
}
.contact-article .contact--book:before {
  position: absolute;
  left: 35px;
  width: 13px;
  height: 8px;
  background-image: url(../img/icons/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.contact-article .contact--book span {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
